
tr: th(align='left' valign='top').txt.fz16.fwb.pt1.pl1.pr1
  | Example Email

tr: th(align='center' valign='top').img.pt2
  img(src=rootPath+'example.png' alt='' width='600' style=`max-width:600px`)

tr: th(align='left' valign='top').pt2.pl1.pr1
  table(align='left' width='100%'): tr

    th(align='left' valign='top').txt.fz14.col1
      | Fuga autem veritatis, ad quibusdam sunt dolorum?
      | Quos dolores asperiores, aliquid! Suscipit dolores non sapiente&#160;aliquid.

    th(align='left' valign='top' width=20).gap &#160;

    th(align='left' valign='top').txt.fz14.col2
      | Fuga voluptatibus amet qui earum consequatur adipisci!
      | Consequuntur numquam eos repellendus voluptatem, ex mollitia&#160;esse.
