use('raw-color.js')

@require 'helpers'

// utilities

.tal
  &, & *
    text-align left

.tar
  &, & *
    text-align right

.tac
  &, & *
    text-align center

.fwn
  &, & *
    font-weight normal

.fwb
  &, & *
    font-weight bold

.fsi
  font-style italic

.tdu
  &, & *
    text-decoration underline

.tdn
  &, & *
    text-decoration none

.ttu
  &, & *
    text-transform uppercase

.mxa
  margin-left auto
  margin-right auto

.lsm
  letter-spacing 1px

// main styles

body
  &, & > center
    background #ffffff

.txt, .c-grey
  &, & *
    color #343434

.bg-grey
  &, & *
    color #343434

.c-white
  &, & *
    color #ffffff
